html, body {
  margin: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-tooltip {
  font-size: 13px;
  font-weight: 500;
}

.bus-lane-tooltip {
  font-size: 12px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #d33;
  padding: 3px 6px;
  border-radius: 3px;
}
